h1.text-3xl.font-bold.mb-4 Profile
.bg-white.p-6.border.border-gray-200.rounded-lg.shadow-lg
  - if @user.profile_picture.attached?
    = image_tag @user.profile_picture, class: "w-32 h-32 rounded-full"
  - else
    p.text-gray-500 No profile picture
  p.text-xl.font-medium
    | Name: #{@user.name}
  p.text-xl.font-medium
    | Email: #{@user.email}
  = link_to 'Edit Profile', edit_user_registration_path, class: "text-indigo-600 hover:text-indigo-800"
h1.text-3xl.font-bold.m-4 Your Posts
/! Posts Loop
.space-y-8
  - @posts.each do |post|
    .bg-white.p-6.rounded-lg.shadow-md
      h2.text-2xl.font-semibold.text-blue-600.hover:text-blue-800
        = link_to post.title, post
      span.text-gray-600.text-sm
        | by - #{post.user.name}
      p.mt-4.text-gray-700
        = post.body
      p.mt-2.text-sm.text-gray-500
        = post.likes.count
        = post.likes.count == 1 ? 'Like' : 'Likes'
      p.mt-2.text-sm.text-gray-500
        = post.comments.count
        = post.comments.count == 1 ? 'Comment' : 'Comments'
